.title {
    color: tomato;
}

$padding: 10px;

$small_screen: 480px;

$meduim_screen: 768px;

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.btn_style {
    @extend .flex-row;
    border: none;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(231, 226, 226);
    background-color: navy;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
}

.okay {
    @extend .btn_style;
    background-color: green;
}

.container {
    @extend .flex-col;
    width: 100vw;
    height: 100vh;

    .color_palette_container {
        @extend .flex-row;
        flex: 2;

        .colornode {
            @extend .flex-col;
            justify-content: center;
            align-items: center;
            flex: 1;
            padding: 0px $padding 0px $padding;

            .color_title {
                cursor: pointer;
            }
        }
    }

    .palette_controller_container {
        @extend .flex-row;
        flex: 1;
        flex-wrap: wrap;
        padding-top: 16px;

        .colors_list {
            @extend .flex-col;

            overflow-y: scroll;
            height: 140px;

            .library_colors_container {
                @extend .flex-row;
                justify-content: space-between;
                padding: 0 0 0 12px;

                .show {
                    @extend .btn_style;
                }

                .library_colors {
                    @extend .flex-row;
                    border: 1px solid black;
                    margin-bottom: 16px;

                    .coloritem {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .clear {
                @extend .btn_style;
                background-color: tomato;
            }
        }

        .controller {
            @extend .flex-col;
            justify-content: center;
            align-items: center;
            flex: 1;
            min-width: 150px;

            div {
                @extend .flex-row;
                justify-content: center;
                align-items: center;
                background-color: navy;
                border-radius: 10px;
                width: 50px;
                height: 50px;

                svg {
                    fill: white;
                }
            }
        }
    }
}

@media (max-width: $small_screen) {
    .container {
        .color_palette_container {
            display: flex;
            flex-direction: column;

            .colornode {
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;

                .color_title {
                    margin-right: 10px;
                }
            }
        }

        .palette_controller_container {
            .library_bg {
                .library_container {
                    .colors_list {
                        height: 110px;

                        .library_colors_container {
                            .show {
                                height: 30px;
                            }

                            .library_colors {
                                .coloritem {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
